@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>This is iqvia's Practical Exam</h2>
    <p><b>Subject:</b> Ernest Scott Skousen.</p>
    <br />
    <p>Please click on the Tweets link in the top nav of this website to view curated tweets.</p>

</div>
